body {
  font-family: "Slabo 27px", serif;
  margin: 0;
}

/* 
Section 1 starts....................
*/

.flexible-container {
  display: flex;
  margin-top: 15px;
  margin-bottom: 45px;
  padding-top: 45px;
  padding-bottom: 45px;
}

.link-button {
  margin-top: 40px;
  display: inline-block;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  background-image: linear-gradient(to left, orange, tomato);
  font-size: 15px;
  border-radius: 10px;
}

#section-one {
  font-size: 20px;
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
  margin: 0;
}

.orange-color {
  color: orange;
}

.half-width {
  width: 50%;
  padding: 2%;
}

.half-width img {
  max-height: 600px;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.left-half {
  margin-left: 5%;
}

.right-half {
  margin-right: 5%;
  margin-top: 0;
}

/* 
Section 1 ends....................
/* 

___________________________________________________________________________________________

Section 2 starts....................
*/

#section-two {
  background-image: url(images/shapes/7.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: justify;
}

.image-border {
  border-radius: 30px;
}

/* 
Section 2 ends....................
/* 

___________________________________________________________________________________________

Section 3 starts....................
*/

.text-item-position {
  text-align: center;
}

.recipie-position {
  margin-left: 25%;
  margin-right: 25%;
}

.food-item {
  width: 33%;
  padding: 2%;
  margin: 2%;
  box-shadow: 0px 0px 20px 0px grey;
  border-radius: 15px;
}

.food-item h2 {
  color: #18191f;
  font-weight: bolder;
  margin-top: 2px;
  margin-bottom: 2px;
}

.food-item img {
  height: 256px;
  width: 100%;
  border-radius: 15px;
}

.food-item p {
  margin-top: 2px;
}

.food-card {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}

/* 
Section 3 ends....................
/* 

___________________________________________________________________________________________

Section 5 starts....................
*/

.popularity {
  display: flex;
  margin-left: 7%;
  margin-right: 7%;
  box-shadow: 0px 0px 20px 0px grey;
  border-radius: 15px;
}

.subscriber-count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
  padding: 2%;
}

.subscriber-count h2 {
  color: #18191f;
  font-weight: bolder;
  margin-top: 2px;
  margin-bottom: 2px;
}

.subscriber-count p {
  margin-top: 2px;
}

/* 
Section 5 ends....................
/* 

___________________________________________________________________________________________

Footer starts....................
*/

.footer {
  background-color: black;
  margin-top: 50px;
  height: 256px;
  width: 100%;
}

#footer-text-white {
  color: white;
}

.footer-text {
  font-size: 30px;
  font-weight: bolder;
  margin-top: 50px;
  margin-bottom: 20px;
  display: inline-block;
  background-image: linear-gradient(to right, #fba24f, #fc8043);
  background: -webkit-linear-gradient(#fba24f, #ff1e1e);
}

/* 
Footer ends....................
/* 

___________________________________________________________________________________________

Font Section....................
*/

h1 {
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: 78px;
  letter-spacing: -0.02em;
  text-align: left;
}

h2 {
  text-transform: capitalize;
  font-size: 40px;
}

p {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.876);
  letter-spacing: 0.04em;
  font-size: 18px;
  font-weight: 500;
}

.three-items {
  text-align: justify;
}
